{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ mail.subject }}</h1>
        
        <div>
            <div>
                <strong>Alcance: {{ users }}</strong>
            </div>
            <div>
                <strong>Número de veces leído: {{ read_count }}</strong>
            </div>
            <div>
                <strong>Última fecha de envío: {{ last_send_at }}</strong>
            </div>
        </div>

    </div>
</div>

<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">La Fecha de lectura</th>
                <th scope="col">Leído</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for user_mail in user_mails %}
                    <tr>
                        <td>{{ user_mail.user.id }}</td>
                        <td>{{ user_mail.user.email }}</td>
                        <td>{{ user_mail.last_read_at }}</td>
                        <td>{{ user_mail.read }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}